BasedOnStyle: LLVM
Language: Cpp
Standard: Cpp11
UseTab: Always
IndentWidth: 8
TabWidth: 8
ContinuationIndentWidth: 8
ColumnLimit: 80
BreakBeforeBraces: Linux
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AllowShortFunctionsOnASingleLine: None
AlignConsecutiveAssignments: false
AlignConsecutiveDeclarations: false
AlignOperands: Align
PointerAlignment: Right
SortIncludes: Never
IncludeBlocks: Preserve
IndentCaseLabels: false
